<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="StorageConnectionString"
             connectionString="DefaultEndpointsProtocol=https;AccountName=homecenter;AccountKey=rB++RQ+wBxvh8gE2X+fWIoW+cRHLJ1j4tr//Gysb+h5wjzrTJ2962GfugpPQ7nCYI/B8ZbsHVX/omTnQU7cTAA==" />
    </connectionStrings>
</configuration>
