/* Resets and base styles */
* { margin: 0px; padding: 0px; }
html, body { height: 100%; }
body { 
    font-family: "Segoe UI", "Open Sans", Tahoma, Arial, Helvetica; 
    color: #333; 
    background-color: #fff; 
    font-size: 18px; 
    cursor: default;
    overflow-y: scroll;
}
ul { list-style-type: none; }
h1, h2, h3, h4, h5, h6 { font-weight: normal; }
a, a:hover, a:visited, a:active { text-decoration: none; color: #000; }
.fRight { float: right; }
.fLeft { float: left; }
.clearFix { clear: both; }

/* App basics */
#header { background-color: #25458e; color: #fff; padding: .5em .15em; border-bottom: 1px solid #505050; }
#header h3 { background: url(/images/houses.png?ver=1.33) no-repeat left center; padding-left: 2em; font-size: 1.25em; font-weight: 100; }
#header ul { list-style-type: none; position: absolute; right: 0; top: 0; font-size: .775em; }
#header ul li { 
    text-align: right;
    line-height: 3.5em;
    position: relative;
    margin-right: 1em;
    background-image: url(/images/GitHub-Mark-Light-32px.png);
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 2.5em;
}
#header ul li a { color: #fff; display: inline-block; margin: 0 .5em;}

#navigation { 
    overflow: hidden;
    background-color: #e0e0e0;
    border-bottom: 1px solid #505050;
    padding: 0 .75em 0 .75em;
}
#navigation ul { text-align: center; }
#navigation li { padding: .5em 0 .5em 0; margin: 0 2em 0 0; cursor: pointer; display: inline-block; font-size: .875em; }
#navigation li.dashboard { background: url(../images/overview.png?ver=1.33) no-repeat -.5em center; padding-left: 1.75em; }
#navigation li.sensors { background: url(../images/sensors.png?ver=1.33) no-repeat -.5em center; padding-left: 1.75em; }
#navigation li.alerts { background: url(../images/alerts.png?ver=1.33) no-repeat -.5em center; padding-left: 1.75em; margin-right: 0; }
#content { padding: .5em;}

.graphContainer { margin-bottom: 1em; height: 12em; width: 50%; }
.gaugeContainer { margin-bottom: 1em; height: 12em; width: 50%; }
.content-stage { display: none;  }
.content-stage h2 { font-size: 1.2em; margin-bottom: 1em; font-weight: normal;}

@media (min-width: 1200px) {
    .graphContainer { width: 75%; }
    .gaugeContainer { width: 25%; }
}

@media (max-width: 570px) {
    #header h3 { background: none; padding-left: .5em; }
    #navigation { text-align: center; }
    #navigation li { width: 0; overflow: hidden;}
    .graphContainer.fLeft { float: none; width: 100%; }
    .graphContainer.fRight { float: none; width: 100%; }
    .gaugeContainer.fLeft { float: none; width: 100%; }
    .gaugeContainer.fRight { float: none; width: 100%; }
}